{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mb-4">{{ lot.name }} - Slots</h2>

<p><strong>Location:</strong> {{ lot.location }}</p>
<p><strong>Total Spots:</strong> {{ lot.total_spots }}</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Slot ID</th>
      <th>Spot Number</th>
      <th>Status</th>
      <th>Booked By</th>
    </tr>
  </thead>
  <tbody>
    {% for spot in spots %}
      <tr>
        <td>{{ spot.id }}</td>
        <td>{{ spot.slot_number }}</td>
        <td>
          {% if spot.is_booked %}
            Booked
          {% else %}
            Available
          {% endif %}
        </td>
        <td>
            {{ spot_user_map.get(spot.id, '-') }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('routes.admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock %}
